* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #161616;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: white;
}

.register {
  position: relative;
  width: 60vw;
  height: 70vh;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(/img/background.jpeg);
  background-position: left;
  background-size: cover;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

.register__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
}

.info {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 3rem;
  z-index: 100;
}

.info__title {
  font-size: 40px;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.info__text {
  line-height: 24px;
}

.signUp {
  position: relative;
  width: 50%;
}

.signUp__title {
  margin-top: 8rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 32px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1rem;
}

.signUp__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 2rem;
}

.signUp__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.signUp__btn {
  border: none;
  color: white;
  background-color: #d6792d;
  padding: 1rem 2rem;
  margin: 2rem 0rem 2rem 0rem;
  cursor: pointer;
}

.signUp__text {
  position: relative;
}

.signUp__text::after, .signUp__text::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: white;
  top: 50%;
}

.signUp__text::before {
  left: -140px;
}

.signUp__text::after {
  right: -140px;
}

.signUp__icon {
  width: 30px;
  margin: 1rem;
  cursor: pointer;
}

.form {
  position: relative;
  padding: 1rem;
  width: 450px;
}

.form .btn {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
}

.form__input {
  width: 100%;
  height: 20px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #d6792d;
  padding: 0.3rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  outline: none;
}

.form__text {
  position: absolute;
  bottom: 20px;
  pointer-events: none;
  color: #afafaf;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.form__underline {
  position: absolute;
  height: 1px;
  width: 95%;
  background-color: white;
}

.form__underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d6792d;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form__input:focus ~ .form__text,
.form__input:valid ~ .form__text {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  font-size: 12px;
  color: #d6792d;
}

.form__input:focus ~ .form__underline::after,
.form__input:valid ~ .form__underline::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #d6792d;
}
/*# sourceMappingURL=style.css.map */